// Keybinds.kdl

binds {

	Mod+O repeat=false { toggle-overview; }

    // Noctalia
    Mod+D { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+S { spawn "noctalia-shell" "ipc" "call" "settings" "toggle"; }
    Mod+V { spawn "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }
    Mod+Grave { spawn "noctalia-shell" "ipc" "call" "launcher" "emoji"; }
    Mod+W { spawn "noctalia-shell" "ipc" "call" "wallpaper" "toggle"; }
    Mod+Escape { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Mod+L { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }

    // Audio controls
    XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }

    Mod+XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increaseInput"; }
    Mod+XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decreaseInput"; }
    XF86AudioMicMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }

    // Brightness controls
    XF86MonBrightnessUp { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

    // Power profile cycle
    XF86Favorites { spawn "noctalia-shell" "ipc" "call" "powerProfile" "cycle"; }

    // Applications
    Mod+T { spawn "kitty"; }
    Mod+E { spawn "thunar"; }
    Mod+B { spawn "firefox"; }

    // Screenshots
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // System controls
    // Mod+Shift+E { quit; }
    Mod+Q { close-window; }

    // Window focus
    Mod+Left { focus-column-left; }
    Mod+Down { focus-window-down; }
    Mod+Up { focus-window-up; }
    Mod+Right { focus-column-right; }

    // Window movement
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Down { move-window-down; }
    Mod+Shift+Up { move-window-up; }
    Mod+Shift+Right { move-column-right; }

    // Monitor focus
    Mod+Ctrl+H { focus-monitor-left; }
    Mod+Ctrl+J { focus-monitor-down; }
    Mod+Ctrl+K { focus-monitor-up; }
    Mod+Ctrl+L { focus-monitor-right; }

    // Monitor window movement
    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }

    // Workspace switching
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // Move window to workspace
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Window sizing
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Scratchpad
    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }


    // Media controls
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }
}
